.customers-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 3px;
}

.customers-top > div {
  margin-top: 4px;
  margin-left: 1px;
  background: #262626;
  border: 1px solid #484848;
  padding: 3px 6px;
}

.customers-top > div > a {
  color: #d5d5d5;
  cursor: pointer;
}
