.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}

.news > div {
  max-height: 350px;
  overflow: hidden;
  background-color: #1e1e1e;
  border: 1px solid #484848;
  color: #d5d5d5;
  margin-bottom: 10px;
  position: relative;
}

.news-header {
  background: #262626;
  text-align: center;
}

.news-title {
  font-weight: bold;
  padding: 3px;
  color: #d5d5d5;
}

.post {
  background-color: #1e1e1e;
  border-top: 1px solid #484848;
  padding: 9px;
  width: 100%;
}

.news-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  position: absolute;
  right: 0;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #484848;
  background: #262626;
}

.news-footer > a {
  text-decoration: underline;
  cursor: pointer;
}
